
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503224676019'); /* IE9*/
  src: url('iconfont.eot?t=1503224676019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503224676019') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503224676019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503224676019#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuobiao:before { content: "\e61c"; 
    font-size: 23px;
}

.icon-iconfontright:before { content: "\e646"; 
    font-size: 40px;
    text-align: center;
}

.icon-15tianmianfeihuanhuo24px:before { content: "\e605";
    font-size: 23px;   
}

.icon-chakanquanbu-copy:before { content: "\e602";
     font-size: 20px;
     color: #ccc;
 }

.icon-banshou:before { content: "\e659"; 
    font-size: 23px;
}

.icon-goutongye_bofangjian_bofangyangshi:before { content: "\e647";
    font-size: 24px;
    color: red;
}

.icon-xiangyou:before { content: "\e65c"; 
    color: orange;
    font-size: 80px;
}

.icon-liaotian:before { content: "\e656";
    font-size: 23px;
 }
.icon-liaotian1:before { content: "\e656";
    font-size: 11px;
 }
.icon-gift:before { content: "\e600"; 
    font-size: 23px;
}

.icon-xiangzuo:before { content: "\e638"; 
    font-size: 40px;
    text-align: center;
}

.icon-cart:before { content: "\e601"; 
     font-size: 12px;
     color: #ccc;
}

.icon-tian:before { content: "\e613"; 
    font-size: 23px;

}

